<div style="
    padding: 5px 5px 2px 20px;
    max-width: 45em;
    color: #FFFFFF;
    box-shadow: 7px 7px 16px #370;
    border-radius: 8px;
    background-color: #222222;
    height: 40em;
">
	<h1 style="
    color: #CCC;
    float: left;
    width: 100%;
    ">
		<img src="cid:logo" alt="Convoy" class="right" src="cid:logo" width="124px;" height="124px" style="float:left; margin-right: 10px">
		Convoy - Reporte de problema
	</h1>

	<p style="font-size: 20px;float: left;">
	Gracias por enviar un reporte a Convoy.
	</p>

	<p style="font-size: 20px;float: left;">
		Usuario: <strong><i>"{Username}"</i></strong> <br />
		Correo: <strong>{Email}</strong> <br />
	</p>

	<p style="font-size: 20px;float: left;">
		<strong>Mensaje:</strong> <br />
		{Report}
	</p>

</div>