<div style="
    padding: 5px 5px 2px 20px;
    max-width: 45em;
    color: #FFFFFF;
    box-shadow: 7px 7px 16px #370;
    border-radius: 8px;
    background-color: #222222;
    height: 45em;
">
    <h1 style="
    color: #CCC;
    float: left;
    width: 100%;
    ">
        <img src="cid:logo" alt="Convoy" class="right" src="cid:logo" width="124px;" height="124px" style="float:left; margin-right: 10px">
        Convoy - Solicitud para restablecer de contraseña
    </h1>

    <p style="font-size: 20px;float: left;">
    Hola {Username}!
    </p>

    <p style="font-size: 20px;float: left;">
        Has solicitado cambiar la contraseña ara el correo {email},
        por favor da click <a href="{url}">aqui</a> para resetear la contraseña
    </p>

    <p style="font-size: 20px;float: left;">
        Si no puedes dar click en el enlace, copia y pega esta dirección en la barra de navegación de tu browser: <br />
        {url}
    </p>

    <p style="font-size: 20px;float: left;">
        Si tu no solicitaste esta accion, por favor, ignora este correo electrónico. <br />
    </p>

</div>