<div style="
    padding: 5px 5px 2px 20px;
    max-width: 45em;
    color: #FFFFFF;
    box-shadow: 7px 7px 16px #370;
    border-radius: 8px;
    background-color: #222222;
    height: 40em;
">
    <h1 style="
    color: #CCC;
    float: left;
    width: 100%;
    ">
        <img src="cid:logo" alt="Convoy" class="right" src="cid:logo" width="124px;" height="124px" style="float:left; margin-right: 10px">
        Convoy - Contraseña restablecida exitosamente
    </h1>

    <p style="font-size: 20px;float: left;">
    Hola {Username}!
    </p>

    <p style="font-size: 20px;float: left;">
        Este correo es para informate que has restablecido tu contraseña exitosamente.
    </p>

    <p style="font-size: 20px;float: left;">
        Saludos de parte del equipo de Convoy.
    </p>

</div>